<div class="container">

  <div class="text-center">
    <h3><i class="fas fa-cheese"></i>　ながのCAKEについて　<i class="fas fa-utensils"></i></h3>
    <div class="message about">
      <p class="message-about">
        <strong>
          <span>ながのCAKE</span>は<br>
          全国発送可能なケーキ屋さんです。<br>
          <br>
          お子様からお年寄りの方まで<br>
          お召し上がりいただけるよう、<br>
          <span>様々なバリエーション</span>をご用意しています。<br>
          <br>
          また、<span>全国へ発送可能</span>ですので、<br>
          <span>「いつ」</span>でも<span>「どこ」</span>でもご注文いただけます。<br>
          ぜひご注文ください！
        </strong>
      </p>
    </div>
  </div>
</div>
