<containar>
  <div class="row  offset-1 mt-5 mb-3">
    <div class="col-lg-6">
      <h3 class="mini-title">会員一覧</h3>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-10 offset-1">
      <table class="table table-bordered table-hover table-background">
        <thead class="thead-dark">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr onclick='window.location="<%= '/admin/customers/' + customer.id.to_s %>"' role="link">
              <td><%= customer.id %></td>
              <td>
                <%= customer.full_name %>

              </td>
              <td><%= customer.email %></td>
              <% if customer.is_deleted == true %>
                <td class="text-danger">退会</td>
              <% else %>
                <td class="text-success">有効</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<containar>
